 <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSu3_Q05dRwU4todkNjXxGs2kQhLAYVPUaiDA&usqp=CAU" width="50px" height="50px"> &nbsp;
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a routerLink="" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a routerLink="invest" class="nav-link waves-light" mdbWavesEffect>Invest</a>
          </li>
        </ul>
      <!-- Links -->

